.mainProfil img{
    width: 120px;
    height: 120px;
    margin: 10px auto;
    display: block;
    border-radius: 50%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  
}
.mainProfil{
    text-align: center;
    width: 90%;


    margin: auto;
    margin-top: 10px;
    padding: 10px;
    padding-top: 2px;
   
}
input[type="text"],input[type="password"]{
    border: none;
  
  width: 100%;
  margin-left: 10px;
  

}
input:focus{ outline: none; } 
label{
  
    margin-top: auto;
    margin-bottom: auto;
  
}
.zone{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   padding: auto;
   padding-left: 10px;
    width: 100%;
    display: flex;
    justify-items: center;
  justify-content: start;
  margin-left: 20px;
  height: 35px;
  margin: 5px;
  background-color: white;


}
.input_flex{
    display: flex;
    margin: auto;
    justify-content: center;
    justify-items: center;
    
}
textarea{
  width:  calc(100% - 10px);
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: none;
  padding: 7px;
  font-family: 'Times New Roman', Times;
  
}
textarea:focus{
    outline: none;

}
input[type="submit"]{
    width: 35%;

   
    color:#1f1b73;
    font-size: 18px;
    padding: 10px;
   margin: 15px auto;
  text-align: center;
    border: none;
   float: right;
  
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 
   background-color: #0c0857e1;
   
  color: white;
   font-weight: 600;
   cursor: pointer;
   
}
input[type="submit"]:hover{
  background-color: #1107c9fb;
}
.nom{
    color:#1f1b73;
    font-size: 22px;
    font-weight: 800;
    
}
.clip_back{

    clip-path: polygon(0 28%, 0 100%, 100% 100%);
  
    position: absolute;
    height: 100vh;
  top:1%;
  left: 0;
    width: 90%;
   margin-bottom: 0;
    background-image: linear-gradient( #6fa9a5, #115852);
    z-index: -1;
}
.image_position{
  position: relative;
  width: 120px;
  height: 120px;
  margin: 10px auto;
  
}


.icon_pos{

margin: auto;
display: block;
}
.div-icon{
  position: absolute;
  bottom: 1px;
 font-size: 25px;
 color: rgb(237, 230, 230);
 right: 16%;
 background-color: #0c0857e1;
 cursor: pointer;
  width: 30px;
  border-radius: 50%;
  padding: 5px;
  padding-top: 5px;
  
  
}
.image_position input[type="file"]{
  position: absolute;
  bottom: 1px;
 left: 50%;
 cursor: pointer;
 background-color: #f2b046;
opacity: 0;
}
.erreur{
  width: 100%;
  text-align: left;
  margin-left: 10px;
  color: red;
}
input[type="date"]{
  
  border: none;
  
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 750px){
  .mainProfil{
    text-align: center;
    width: 97%;

}}
@media screen and (max-width: 600px){
  .zone{
  
   padding-left: 10px;
   margin: 5px;
      width: calc(90%  - 10px) ;
 margin: auto;
 margin-top: 3px;
 margin-bottom: 3px;
  height: 35px;
}
textarea{
   padding: 7px;
  margin: 5px;
  width:  90%;
}
  .input_flex{
    display: flex;
    flex-direction: column;
   padding: 0;
  
}
input[type="text"]{
  margin: 0;
  padding: 0;
  margin-left: 10px;
}
input[type="submit"]{
   width: 35%;
  font-size: 16px;
  padding: 6px;
 margin: 6px auto;
text-align: center;
margin-right: 6%;
display: block;
 font-weight: 500;
 border-radius: 5px;
 
}
.mainProfil img{
  width: 90px;
  height: 90px;
}
.image_position{
  position: relative;
  width: 90px;
  height: 90px;
  margin: 10px auto;
  z-index: -1;
}
.div-icon{
  bottom: 0px;
 font-size: 18px;
 
 right: 16%;
 background-color: #0c0857e1;
 
  width: 18px;
 
  padding: 4px;
  padding-top: 4px;
  
  
}
.nom{

  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
  
}
.mainProfil{
  margin-top: 0px;
 
}

}

